<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../stylesheets/navBar.css">
</head>
<header class="headersup">
  <div class = "logo">
    <a href="/">
      <img src="/images/logo/LOGOPNG.png" alt="logo">
    </a>
  </div>

  <div class="linea">
      <img src="/images/imageneseditadas/barra navegacion.png" alt="linea">
  </div>
  <div class="nav-container">
    <input type="checkbox">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
    <nav> 
      <ul class="opciones">
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTOS</a></li>
            <li><a href="/nosotros">NOSOTROS</a></li>
            <li><a href="/modelado">MODELADO</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
            <li class="carrito"><a href="/chart"><i class="fas fa-shopping-basket"></i></a></li>
            <li>
              <a href=""><i class="fas fa-portrait"></i></a>
            <!-- start menu desplegable -->
              <ul class="userMenu">
                <li class="userMenu">
                  <a class="userMenu" href="/users/login">
                    <i class="fas fa-user"></i>
                    Mi Cuenta
                  </a>
                </li>
                <li>
                  <a class="userMenu" href="/users/login">
                  <i class="fas fa-user-cog"></i>
                    Mis Datos
                  </a>
                </li>
                <li>
                  <form action="/users/checkout" method="POST">
                    <button class="userMenu" type="submit">
                      <i class="fas fa-sign-out-alt"></i>
                      Cerrar sesión
                    </button>  
                  </form>
                </li>
              </ul>
              <!-- end menu desplegable -->    
            </li>
          </ul>
    </nav>
  
</header>
  

