<header class="headersup">
  <div class = "logo">
    <img src="/images/logo/LOGOPNG.png" alt="logo">
  </div>

  <div class="linea">
      <img src="/images/imageneseditadas/barra navegacion.png" alt="linea">
  </div>
  <div class="nav-container">
    <input type="checkbox">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
    <nav>
      
      <ul class="opciones">
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTOS</a></li>
            <li><a href="">NOSOTROS</a></li>
            <li><a href="">MODELADO</a></li>
            <li><a href="">CONTACTO</a></li>
            <li><a href="/users/login"><i class="fas fa-portrait"></i></a></li>
      </ul>
    </nav>
  </div>
</header>