<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/modelado.css">
    <title>Modelado Digital</title>
</head>
<body>
    <form class="modelado_formulario" action="/modelado/modelado" method="POST" enctype="multipart/form-data">
        <img class="logo"src="/images/LOGO/LOGOPNG.png">
        <label for="name">Nombre del modelado</label>
        <input type="text" name="name" value="<%= product.name %>"><br>
        
        <label for="dimension">Dimensiones (cm)</label>
        <input type="text" name="dimension" value=""><br>
        <label for="Material">Material</label>
        <input type="text" name="Material"  value=""><br>
        <label for="pintado">Pintado</label>
        <input type="text" name="pintado"  value=""><br>
        
        <input type="file" name="image" ><br>
        <button type="submit">ENVIAR</button>
    </form>
    
</body>
</html>