*{
    margin: 0px;
    padding: 0px;
  }
body{
    /* Original de Mariano
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image:url("/images/IMAGENESEDITADAS/fondocontacto.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
    
    font-family: 'Roboto', sans-serif;
   
    background-image:url("/images/IMAGENESEDITADAS/fondoopacidad60.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
.losdosbloques{
    
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
    
}
.contactobloque{
    
   
    width: 50%;
    
       
    
    
    /*background-color: blue;*/
}
.formulariobloque{
    
   
    width: 50%;  
         /* background-color: blueviolet;*/
    
}
.wmlbloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 30px;  
}
/*
li{
    display: flex;
    
}
*/

#nomb{
    width: 200px;

}
#email{
    width: 300px;
}
#tel{
    width: 200px;
}
#mensaje{
    width: 380px;
    height: 155px;/*326px;<-Valor de Mariano*/
    text-align: left;
    padding-top: 30px;
    /*justify-content: center;*/
    
}

::placeholder {
    vertical-align: bottom;
}

ul{
    list-style: none;
}

.icon img{
    width: 35px;
    height: 35px;

}
.textocontacto{
    color: brown;
}
.icon{
    align-items: center;
}
.icon p{
    color:brown;
}

  /*BANNER FRASE*/
  .banner{
    background: white;
    margin: 0;
    padding:0;
  }
  
  div.banner img {
    width: 100%;
  }
  .footercontacto{
      padding-top: 157px;
  }
  @media(max-width:768px){
    .losdosbloques{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
      
    }
    .contactobloque{
        width: auto;
        text-align: center;
        
    }
    .formulariobloque{
        width: auto;
        padding-top: 30px;
        
        
        
        
    }
    .footercontacto{
        padding-top: 10px;
    }
    
    



  }
  

