body{
    background-color: brown;
}
.formularioedit{
    display: flex;
    justify-content: center;
    color:white;
    background-color: brown;
    
    width: inherit;
    flex-direction: column;
    align-items: center;
    position: relative;
}
input[type="file" i]{
    max-width: 135px;
}
.logo{
    width: 100px;
    padding: 20px;
}
/*RESPONSIVE*/
@media (min-width:360px)
{
body{
    margin:auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    width: 360px;
    border-radius: 8px;
    border: solid 3px rgb(189,189,189);
    background-color:rgb(202, 202, 202);
    
    
}
}