/*Estilos Body*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: auto;
  /*margin-top: 30px;*/
  background-image:url("/images/IMAGENESEDITADAS/fondoopacidad60.jpg");
}

main {
  margin-top: 10%;
  margin-bottom: 2%;
}

table {
  width: auto;
  border: 1px solid #000;
}

th {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: brown;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  
}

td {
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  }

table {
  margin: 0 auto;
}

h1 {
  border: black solid 2px;
  text-align: center;
  background-color: white;
  color: brown;
  font-size: 20px;
}

.options {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: blue;
}

button {
  color: blue;
}
