/*Estilos compartidos*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/*Estilos LogIn*/

body.LogIn {
  background-color: lightskyblue;
}

header.LogIn {
  display: block;
  background-color: lime;
  text-align: center;
}

img.LogIn {
  padding: 5px;
  width: 100%;
  max-width: 80px;
}

main.LogIn {
  display: block;
  background-color: magenta;
}

footer.LogIn {
  display: block;
  background-color: blue;
}

/*Estilos Register*/

body.Register {
  background-color: green;

}