/*CONFIGURACION INICIAL DIMENSIONES CONTENEDORES*/
*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image:url("/images/IMAGENESEDITADAS/fondoopacidad60.jpg" );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}




/*BANNER FRASE*/
.banner{
  background: white;
  margin: 0;
  padding:0;
}

div.banner img {
  width: 100%;
}
.carousel{
  
  overflow: hidden;
  position: relative;
}
.slides{
  font-size: 0;
  left:0;
  display: flex;
  position: relative;
  transition: 1s;
  white-space: nowrap;
 
}
.carousel li{
  width: 30%;
  padding: 18px;
  list-style:none;
  background: #cccccc;  
  
}
.slide{
  width: 100%;
  
}
.controls{
  position: absolute;
  top:50%;
  transform:translateY(-270%);
  width:100%;
}
.controls a{
  background:black;
  color:#fff;
  cursor:pointer;
  opacity:.7;
  padding:/*1.2rem*/20px;
  
  
}
.controls a:hover{
  opacity:.9;
}
.prev{
  float:left;
}
.next{
  float:right;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.footerhome{
  transform:translateY(250%);
}

/*VISTA TELEFONO RESOLUCION MAXIMA 768PX*/
@media(max-width:768px)
{
  /*FOOTER*/
  
  .contacto{
      flex-direction: column;
      
  }
  .contacto-i{
      margin-top: 8px;
  }
  body{
    min-width: 542px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
}

