/*CONFIGURACION INICIAL DIMENSIONES CONTENEDORES*/
*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image:url("/images/IMAGENESEDITADAS/fondoopacidad60.jpg" );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

/*ESTILOS CARRUSEL PRODUCTOS*/
.productosslider{
  width: 95%;
  margin:auto;
}
.productosslider ul{
  display: flex;
  padding:0;
  width: 100%;
}
.productosslider li{
  width: 20%;
  padding: 18px;
  list-style:none;
  background: #cccccc;  
}
.productosslider img{
  width: 100%;  
}
/*BANNER FRASE*/
.banner{
  background: white;
  margin: 0;
  padding:0;
}

div.banner img {
  width: 100%;
}


/*VISTA TELEFONO RESOLUCION MAXIMA 768PX*/
@media(max-width:768px){
body{
  min-width: 600px;
}

}

