<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Administración de Página</h1>

<section>
  <a href="/users/listado">Administración de Usuarios</a>
  <a href="">Administración de Productos</a>
  <a href="">Administración de Ventas</a>
</section>
</body>
</html>