<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/carrito.css">
  <title><%= title %></title>
</head>
<body>
  <header>
      <img src="/images/shopping_cart.ico">
      <h2>Carrito de Compras</h2>
  </header>
  <main>
<!-- PRODUCTO 1-->
    <section class="product_chart">
      <article class="prd_image">
        <img class="prd_image" src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png">
      </article>
      <article class="prd_detail">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </article>
      <article class="prd_price">
        <p>$ 12,345.67</p>
      </article>
      <article class="prd_qty">
        <input type="number" name="qty" id="cantidad" min="1" max="9" step="1">
      </article>
      <article class="prd_trash">
        <img class="prd_trash" src="/images/trash.ico" alt="">
      </article>
    </section>
<!-- PRODUCTO 2-->
    <section class="product_chart">
      <article class="prd_image">
        <img class="prd_image" src="/images/IMAGENESEDITADAS/XWING CIRCULAR otro.png">
      </article>
      <article class="prd_detail">
        <p>Totam eos, non ipsam quo reiciendis at. Culpa.</p>
      </article>
      <article class="prd_price">
        <p>$ 12,345.67</p>
      </article>
      <article class="prd_qty">
        <input type="number" name="qty" id="cantidad" min="1" max="9" step="1">
      </article>
      <article class="prd_trash">
        <img class="prd_trash" src="/images/trash.ico" alt="">
      </article>
    </section>
    <!-- PRODUCTO 3-->
    <section class="product_chart">
      <article class="prd_image">
        <img class="prd_image" src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png">
      </article>
      <article class="prd_detail">
        <p>Nemo provident in quisquam mollitia iusto?</p>
      </article>
      <article class="prd_price">
        <p>$ 12,345.67</p>
      </article>
      <article class="prd_qty">
        <input type="number" name="qty" id="cantidad" min="1" max="9" step="1">
      </article>
      <article class="prd_trash">
        <img class="prd_trash" src="/images/trash.ico" alt="">
      </article>
    </section>
<!-- PRODUCTO 4-->
<section class="product_chart">
  <article class="prd_image">
    <img class="prd_image" src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png">
  </article>
  <article class="prd_detail">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </article>
  <article class="prd_price">
    <p>$ 12,345.67</p>
  </article>
  <article class="prd_qty">
    <input type="number" name="qty" id="cantidad" min="1" max="9" step="1">
  </article>
  <article class="prd_trash">
    <img class="prd_trash" src="/images/trash.ico" alt="">
  </article>
</section>


    <section class="money_chart">
      <article class="money_chart_header">
        <h4>Resumen del Pedido</h4>
        </article>
      <article class="money_chart_subtotal">
        <p class="type">Subtotal  $</p>
        <p class="number">12,345.67</p> 
      </article>
      <article class="money_chart_envio">
        <p class="type">Envío  $</p> 
        <p class="number">1,234.56</p>  
      </article>
      <article class="money_chart_total">
        <p class="type">Total $ </p>
        <p class="number">12,345.67</p> 
      </article>
      <article class="money_chart_button">
        <button type="submit">comprar</button>
      </article>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>