<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
</head>
<body bgcolor="red">
  <h1><%= message %></h1>
<footer>
  <a href="/">Volver al Home!!</a>  
</footer>
</body>
</html>

