<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel='stylesheet' href='stylesheets/style.css'>
  <title>3DZ_Impresiones_3D</title>
</head>
<body>
  <%-include('./partials/header')%>
<!--
  <header class="headersup">
    <div class = "logo">
      <img src="/images/logo/LOGOPNG.png" alt="logo">
    </div>

    <div class="linea">
        <img src="/images/imageneseditadas/barra navegacion.png" alt="linea">
    </div>
    <div class="nav-container">
      <input type="checkbox">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
      <nav>
        <ul class="opciones">
              <li><a href="/">HOME</a></li>
              <li><a href="/productos">PRODUCTOS</a></li>
              <li><a href="">NOSOTROS</a></li>
              <li><a href="">MODELADO</a></li>
              <li><a href="">CONTACTO</a></li>
              <li><a href="/login"><i class="fas fa-portrait"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>
-->
  <div class="banner" >
    <img src="/images/IMAGENESEDITADAS/banner.jpg">
  </div>  
  <div class="productosslider">
    <ul>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png" alt="mascara"></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/CHIMUELOCIRCULAR.png" alt="dragon chimuelo" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png" alt="pokemon rayquaza" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png" alt="robot walker" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/XWINGCIRCULAR.png" alt="XWING star wars" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/MATEDARTHVADERCIRCULAR.png" alt="Mate Darth Vader" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/CASACIRCULAR.png" alt="casita productora de cerveza" ></a></li>
    </ul>
  </div>
  <br><br><br><br> <br><br><br><br><br><br><br><br> <br><br><br><br>
  <%-include('./partials/footer')%>
<!--
  <footer>
    <div class="redes">
      <h2>Seguinos!</h2>
      <div class="redes-i">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#" ><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="contacto">
      <h2>Contactanos!</h2>
      <div class="contacto-i">
        <i class="fab fa-whatsapp"></i>
        <p>+54 9 11 3306-6351</p>
      </div>
      <div class="contacto-i">
        <i class="fas fa-at"></i>
        <p>3DZ@gmail.com</p>
      </div>
    </div>
    <p class="copyright">Copyright @ 2020 3DZ Todos Los Derechos Reservados</p>
  </footer>  
-->  
  
</body>
</html>