<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>3DZ_IMPRESIONES_3D</title>
</head>
<body>
  
  <div class = "containerheader">
    <header class="headersup">
     <div class = "logo">
        <img src="/images/logo/LOGOPNG.png" alt="logo">
      </div>
      
      <nav class="menu">
         <ul class="opciones">
           <li><a href="">HOME</a></li>
           <li><a href="">PRODUCTOS</a></li>
           <li><a href="">NOSOTROS</a></li>
           <li><a href="">SERVICIO DE MODELADO</a></li>
           <li><a href="">CONTACTO</a></li>
           
         </ul>
        <ul class="login">
            <li><a href="/login">Log In</a></li>
        </ul>   
      </nav>
      
    </header>
  </div>
  <div class="banner" >
    <img src="/images/IMAGENESEDITADAS/banner.jpg" alt="banner">
  </div>  
  <div class="productosslider">
    <ul>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png" alt="mascara"></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/CHIMUELOCIRCULAR.png" alt="dragon chimuelo" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png" alt="pokemon rayquaza" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png" alt="robot walker" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/XWINGCIRCULAR.png" alt="XWING star wars" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/MATEDARTHVADERCIRCULAR.png" alt="Mate Darth Vader" ></a></li>
      <li><a href=""><img src="/images/IMAGENESEDITADAS/CASACIRCULAR.png" alt="casita productora de cerveza" ></a></li>
    </ul>
  </div>
  
  
  
</body>
</html>