<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/login.css">
  <!--Fuentes Google-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!--Iconos Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title><%= title %></title>
</head>
<body>
  <header>
    <section>
      <img src="/images/LOGO/LOGOPNG.png">
    </section>
    <section>
      <h3>Inicio de Sesión</h3>
    </section>
  </header>
  <main>
    <form action="" method="">
      <ul>
        <li>
          <span class="iconForm">
            <i class="far fa-user"></i>
          </span>
          <label for="user"></label>
          <input type="text" name="user" id="user" placeholder="Ingrese su usuario o email">
        </li>
        <li>
          <span class="iconForm">
            <i class="fas fa-unlock-alt"></i>
          </span>
          <label for="password"></label>
          <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
        </li>
      </ul>
    </form>
    <section class="remember">
      <div>
        <input type="checkbox" name="recordarme" id="recordar" value="recordarme">
        <label for="recordar">Recordarme</label>
      </div>
      <a href="">¿Oldidó su Contraseña?</a>
    </section>
    <section class="ingresar">
      <button type="submit">Ingresar</button>
    </section>
    <section class="ingreso">
      <h3>Ingresá con</h3>
    </section>
    <section class="redes_sociales">
      <div class="logo_redes_sociales">
        <button type="submit">
          <img src="/images/Google.ico" alt="">
        </button>
      </div>
      <div class="logo_redes_sociales">
        <button type="submit">
          <img src="/images/twitter.ico" alt="">
        </button>
      </div>
      <div class="logo_redes_sociales">
        <button type="submit">
          <img src="/images/facebook.ico" alt="">
        </button>
      </div>
      <div class="logo_redes_sociales">
        <button type="submit">
          <img src="/images/instagram.ico" alt="">
        </button>
      </div>
    </section>
  </main>

  <footer>
    <section>
      <p>Sos Nuevo?</p>
      <div>
        <i class="fas fa-sign-in-alt"></i>
        <a href="/register">Registrate Acá</a>
      </div>
    </section>
  </footer>
  
</body>
</html>