<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/style2.css">
    <title>Productos</title>
</head>
<body>
    <header class="headersup">
        <div class = "logo">
          <img src="/images/logo/LOGOPNG.png" alt="logo">
        </div>

        <div class="linea">
            <img src="/images/imageneseditadas/barra navegacion.png" alt="linea">
        </div>
        <div class="nav-container">
          <input type="checkbox">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
          <nav>
            <ul class="opciones">
                  <li><a href="">HOME</a></li>
                  <li><a href="">PRODUCTOS</a></li>
                  <li><a href="">NOSOTROS</a></li>
                  <li><a href="">MODELADO</a></li>
                  <li><a href="">CONTACTO</a></li>
                  <li><a href=""><i class="fas fa-portrait"></i></a></li>
            </ul>
          </nav>
        </div>
    </header>
<main>
  <div class="texto-superior-producto">
    <h1>Nuestras Impresiones</h1>
    <h5>Ofrecemos impresiones de calidad en distinto formato y material: PLA, ABS, Nylon 12, entre otros.</h5>
  </div>
  <div class="imagenes-productos">
    <div class="producto">
      <img src="/images/IMAGENESEDITADAS/WALKERCIRCULAR.png" alt="Walker Juego PC">
      <h5>COMPRAR</h5>
      <p>Walker Juego PC "War Thunder"</p>
      <p>Medidas: 15 x 20 x 15 cm.</p>
      <p>Naterial: PLA</p>
      <p>Pintado: SI</p>
      <p>Importe: 3.000 AR$</p>
    </div>
    <div class="producto">
      <img src="/images/IMAGENESEDITADAS/XWINGCIRCULAR.png" alt="">
      <h5>COMPRAR</h5>
      <p>X-WING STAR WARS BATTLE</p>
      <p>Medidas: 20 x 30 x 10 cm.</p>
      <p>Naterial: PLA</p>
      <p>Pintado: SI</p>
      <p>Importe: 3.000 AR$</p>
    </div>
    <div class="producto">
      <img src="/images/IMAGENESEDITADAS/MATEDARTHVADERCIRCULAR.png" alt="">
      <h5>COMPRAR</h5>
      <p>MATE SITH LORD: DARTH VADER</p>
      <p>Medidas: 15 x 20 x 15 cm.</p>
      <p>Naterial: PLA</p>
      <p>Pintado: SI</p>
      <p>Importe: 3.000 AR$</p>
    </div>
    <div class="producto">
      <img src="/images/IMAGENESEDITADAS/RAYQUAZACIRCULAR.png" alt="">
      <h5>COMPRAR</h5>
      <p>Dragon miniatura RAYQUAZA</p>
      <p>Medidas: 15 x 20 x 15 cm.</p>
      <p>Naterial: PLA</p>
      <p>Pintado: SI</p>
      <p>Importe: 3.000 AR$</p>
    </div>
    <div class="producto">
      <img src="/images/IMAGENESEDITADAS/MASCARACIRCULAR.png" alt="">
      <h5>COMPRAR</h5>
      <p>MASCARA</p>
      <p>Medidas: 15 x 20 x 15 cm.</p>
      <p>Naterial: PLA</p>
      <p>Pintado: SI</p>
      <p>Importe: 3.000 AR$</p>
    </div>
    <div class="producto">
      <img src="/images/IMAGENESEDITADAS/CASACIRCULAR.png" alt="">
      <h5>COMPRAR</h5>
      <p>CASA MINIATURA</p>
      <p>Medidas: 15 x 20 x 15 cm.</p>
      <p>Naterial: PLA</p>
      <p>Pintado: SI</p>
      <p>Importe: 3.000 AR$</p>
    </div>
  </div>
</main>

</body>
</html>