<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/style2.css">
    <title>Productos</title>
</head>
<body>
    <header class="headersup">
        <div class = "logo">
          <img src="/images/logo/LOGOPNG.png" alt="logo">
        </div>

        <div class="linea">
            <img src="/images/imageneseditadas/barra navegacion.png" alt="linea">
        </div>
        <nav class="menu">
            <ul class="opciones">
              <li><a href="">HOME</a></li>
              <li><a href="">PRODUCTOS</a></li>
              <li><a href="">NOSOTROS</a></li>
              <li><a href="">SERVICIO DE MODELADO</a></li>
              <li><a href="">CONTACTO</a></li>
               
            </ul>
            <ul class="login">
              <a href=""><i class="fas fa-portrait"></i></a>
            </ul>   
        </nav>
    </header>


  </body>
</html>