<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/register.css">
  <!--Fuentes Google-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!--Iconos Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Registrate en 3DZ impresiones</title>
</head>
<body>
  <header>
    <section>
      <img src="/images/LOGO/LOGOPNG.png">
    </section>
    <section>
      <h3>Registro</h3>
    </section>
  </header>
  <main>
    <% if(typeof errors != 'undefined') { %>
      <p>Errores detectados</p>
      <ul>
        <% for(let i = 0; i < errors.length; i++) {%> 
          <li>
            <%= errors[i].msg %> 
          </li>
          <% } %>
      </ul>
  <% } %>  
    <form action="/users/register" method="POST" autocomplete="on">
      <ul>
        <li>
          <span class="iconForm">
            <i class="far fa-user"></i>
          </span>
          <label for="userName"></label>
          <input type="text" name="userName" id="user" placeholder="Ingrese su nombre y apellido">
        </li>
        <li>
          <span class="iconForm">
            <i class="far fa-envelope"></i>
          </span>
          <label for="email"></label>
          <input type="email" name="email" id="email" placeholder="Ingrese su email">
        </li>
        <li>
          <span class="iconForm">
            <i class="fas fa-unlock-alt"></i>
          </span>
          <label for="password"></label>
          <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
        </li>
         
        <li>
          <span class="iconForm">
            <i class="fas fa-lock"></i>
          </span>
          <label for="password"></label>
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme su contraseña">
        </li>

      </ul>
 
    <section class="registrar">
      <button type="submit">Registrarme</button>
    </section>
  </form>    
    <section class="registro">
      <h3>Registrate con</h3>
    </section>
    <%-include('../partials/redes_sociales')%>
  </main>
  <footer>
    <section>
      <p>Ya tenés una cuenta?</p>
      <div>
        <i class="fas fa-sign-in-alt"></i>
        <a href="/users/login">Iniciar Sesión</a>
      </div>
    </section>
  </footer>
</body>
</html>