<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detalle de usuario</h1>
  <br>
  <h2>Se quiere consultar: <%= usuario %> </h2>

  <h1>Usuario Consultado:</h1>
  <ul>
    <li>
        <%= usuario.nombreApellido + ', ' + usuario.email %>
    </li>
  </ul>
  <a href="/users/edit/<%= usuario.id %> ">
    <button>Editar</button>
  </a>
</body>
</html>