<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detalle de usuario</h1>
  <br>
  <h2>Se quiere consultar: <%= usuarioConsultado %> </h2>

  <h1>Lista de Usuarios Consultados</h1>
  <ul>
    <% for(usuario of usersResults) { %> 
      <li>
        <%= usuario.user_name + ', ' + usuario.user_email %>
      </li>
    <% } %> 
  </ul>
</body>
</html>