<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuarios Activos</title>
</head>
<body>
  <h1>Lista de Usuarios Registrados</h1>
  <ul>
    <% for(usuario of usuarios) { %>
      <li>
        <a href="/users/<%= usuario.id %> ">
        <%= 'id:' + usuario.id + ' Name:' + usuario.nombreApellido + ' Email: ' + usuario.email %>
      </a>
      </li>
    <% } %>
  </ul>
</body>
</html>